.normal {
  display: block;
  float: left;
  width: 54px;
  height: 54px;  
  text-align: center;
  margin: 5px 8px 5px 8px;
  box-shadow: -3px 3px 3px #404040;
  background-color: white;
  border-radius: 5px;
}

.selected {
  display: block;
  float: left;
  width: 54px;
  height: 54px;  
  margin: 5px 8px 5px 8px;
  box-shadow: -3px 3px 3px #404040;
  border-radius: 5px;
  text-align: center;
  background-color: #ACCEEC;
}

.letter {
  padding: 17px;
  font-family: Arial, "Times New Roman", Times, serif;
  font-weight: bold;
}