.container {
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
  font-family: Arial, "Times New Roman", Serif;
  font-weight: bold;
}

.currentWord {
  font-weight: normal;
}

.submit {
  float: right;
  margin-right: 30px;
}